.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav */
.navBar {
  border-radius: 0rem 0rem .2rem .2rem;
}

.navBar-logo {
  width: 50px;
  height: 50px;
}

.navLink {
  display: inline;
  padding: 8px;
  color: #000;
  transition: all 0s;
}

.navLink-Current {
  display: inline;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: #000;
  font-weight: bold;
}

.navLink-Log {
  display: inline;
  padding: 8px;
  color: #000;
  flex: auto;
  transition: all 0s;
}

.navLink-Log-Current {
  display: inline;
  padding: 8px;
  color: #000;
  flex: auto;
  font-weight: bold;
}

.navLink:hover {
  font-weight: bold;
  transition: all 0s;
}

.navLink-Log:hover {
  font-weight: bold;
  transition: all 0s;
}

/* Dropdown Clipping*/
.divAnticlip {
  z-index: 0;
  overflow: hidden;
}
.dropdownAnticlip {
  z-index: 50;
}

/* Dropdown */

.autocomplete-dropdown-container {
  display: block;
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 0 0 2px 2px;
  width: 345.6px;
  z-index: 10;
}

.suggestion-item {
  padding: 8px;
  background-color: #fff;
  cursor: pointer;
}

.suggestion-item--active {
  padding: 8px;
  background-color: #fafafa;
}

.dropdownFilter {
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdownFilterButton {
  transform: translate(0px, 0px);
  position: absolute;
  width: 175.5px;
  height: 27.07px;
  color: #000;
  border: 0.5px solid #C7C7C7;
  box-sizing: border-box;
  padding: 1px 6px;
}

.participation-dropdownFilter {
  width: 175.5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.participation-dropdownFilterButton {
  transform: translate(0px, 0px);
  position: absolute;
  width: 175.5px;
  height: 27.07px;
  color: #000;
  border: 0.5px solid #C7C7C7;
  box-sizing: border-box;
  padding: 1px 6px;
}

.participationType-dropdownFilterButton {
  transform: translate(138.5px, 0px);
  position: absolute;
  width: 175.5px;
  height: 27.07px;
  color: #000;
  border: 0.5px solid #C7C7C7;
  box-sizing: border-box;
  padding: 1px 6px;
}

/* Edit Button */
.editButton {
  background-color: #f0f0f0;
  border: 0.5px solid #C7C7C7;
}

.editButton-Icon {
  background-color: rgba(0, 0, 0, 0);
  border: #C7C7C7;
  color: #000;
  transition: 0.15s;
}

.editButton:hover > .editButton-Icon {
  color: white;
}

/* Total */

.totalButton {
  transform: translate(415px, 5px);
  position: absolute;
  width: 47.07px;
  height: 27.07px;
  background-color: #f0f0f0;
  border: 0.5px solid #C7C7C7;
  padding: 1px 1px;
  font-size: 10px;
  border-radius: .2rem;
}

.totalButtonCash {
  transform: translate(470.07px, 5px);
  position: absolute;
  width: 47.07px;
  height: 27.07px;
  background-color: #f0f0f0;
  border: 0.5px solid #C7C7C7;
  padding: 1px 1px;
  font-size: 10px;
  border-radius: .2rem;
}

/* Delete Button */

.deleteButton {
  border: 0px;
  width: 27.07px;
  height: 27.07px;
}

.deleteIcon {
  transform: translate(-6.5px, -6.5px);
}

/* Donor Add Button */
.addButton {
  transform: translate(451px, 5px);
  position: absolute;
  width: 27.07px;
  height: 27.07px;
  background-color: #f0f0f0;
  border: 0.5px solid #C7C7C7;
  padding: 1px 1px;
  border-radius: .2rem;
}

.addButton-Icon {
  transform: translate(0.5px, -2px);
  width: 13.535px;
  height: 13.535px;
  background-color: rgba(0, 0, 0, 0);
  border: #C7C7C7;
  color: #000;
  padding: 1px 1px;
  border-radius: .2rem;
  transition: 0.15s;
}

.addButton:hover > .addButton-Icon {
  color: white;
}

/* Collection Email Button */

.emailButton {
  transform: translate(488.07px, 5px);
  position: absolute;
  width: 27.07px;
  height: 27.07px;
  background-color: #f0f0f0;
  border: 0.5px solid #C7C7C7;
  padding: 1px 1px;
  border-radius: .2rem;
}

.emailButton-Icon {
  transform: translate(0.5px, -2px);
  width: 13.535px;
  height: 13.535px;
  background-color: rgba(0, 0, 0, 0);
  border: #C7C7C7;
  color: #000;
  padding: 1px 1px;
  border-radius: .2rem;
  transition: 0.15s;
}

.emailButton:hover > .emailButton-Icon {
  color: white;
}


/* Donor Search */

.searchBar {
  position: absolute;
  transform: translate(183.5px, 0px);
  width: 50%;
  height: 27.05px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.searchBarInput {
  transform: translate(0px, 0px);
  width: 245.5px;
  height: 27.07px;
  position: absolute;
  border: 0.5px solid #C7C7C7;
  border-radius: .2rem .2rem .2rem .2rem;
}

.searchButton-Icon {
  transform: translate(-0.5px, -2.5px);
  width: 25.706px;
  height: 25.706px;
  background-color: rgba(0, 0, 0, 0);
  border: #C7C7C7;
  color: #000;
  padding: 1px 1px;
  border-radius: .2rem;
  transition: 0.15s;
}

.searchBarSubmit {
  transform: translate(218.5px, 0px);
  height: 27.05px;
  width: 27.07px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  padding: 1px 1px;
  border-top: 0.5px solid #C7C7C7;
  border-right: 0.5px solid #C7C7C7;
  border-bottom: 0.5px solid #C7C7C7;
  border-left: 0px solid #C7C7C7;
  border-radius: 0rem .2rem .2rem 0rem;
  z-index: 0;
  transition: 0.15s;
}

.searchBarSubmit:hover {
  background-color: #6c757d;
  border-color: #6c757d;
  color: white;
}

/* Participant Search */

.participation-searchBar {
  position: absolute;
  transform: translate(183.5px, 0px);
  width: 122.75px;
  height: 27.07px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.participation-searchBarInput {
  transform: translate(0px, 0px);
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0.5px solid #C7C7C7;
  border-radius: .2rem .2rem .2rem .2rem;
}

.participation-searchButton-Icon {
  transform: translate(-0.5px, -2.5px);
  width: 25.706px;
  height: 25.706px;
  background-color: rgba(0, 0, 0, 0);
  border: #C7C7C7;
  color: #000;
  padding: 1px 1px;
  border-radius: .2rem;
  transition: 0.15s;
}

.participation-searchBarSubmit {
  transform: translate(95.75px, 0px);
  height: 27.05px;
  width: 27.07px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  padding: 1px 1px;
  border-top: 0.5px solid #C7C7C7;
  border-right: 0.5px solid #C7C7C7;
  border-bottom: 0.5px solid #C7C7C7;
  border-left: 0px solid #C7C7C7;
  border-radius: 0rem .2rem .2rem 0rem;
  z-index: 0;
  transition: 0.15s;
}

.participation-searchBarSubmit:hover {
  background-color: #6c757d;
  border-color: #6c757d;
  color: white;
}

/* Collection Add Button */

.date-addButton {
  transform: translate(415px, 5px);
  position: absolute;
  width: 27.07px;
  height: 27.07px;
  background-color: #f0f0f0;
  border: 0.5px solid #C7C7C7;
  padding: 1px 1px;
  border-radius: .2rem;
}

.date-addButton-Icon {
  transform: translate(0.5px, -2px);
  width: 13.535px;
  height: 13.535px;
  background-color: rgba(0, 0, 0, 0);
  border: #C7C7C7;
  color: #000;
  padding: 1px 1px;
  border-radius: .2rem;
  transition: 0.15s;
}

.date-addButton:hover > .addButton-Icon {
  color: white;
}

/* Participant Add Button */

.participant-addButton {
  transform: translate(509.5px, 5px);
  position: absolute;
  width: 27.07px;
  height: 27.07px;
  background-color: #f0f0f0;
  border: 0.5px solid #C7C7C7;
  padding: 1px 1px;
  border-radius: .2rem;
}

.participant-addButton-Icon {
  transform: translate(0.5px, -2px);
  width: 13.535px;
  height: 13.535px;
  background-color: rgba(0, 0, 0, 0);
  border: #C7C7C7;
  color: #000;
  padding: 1px 1px;
  border-radius: .2rem;
  transition: 0.15s;
}

.participant-addButton:hover > .addButton-Icon {
  color: white;
}

/* Collection Search */

.date-searchButton-Icon {
  transform: translate(0.5px, -2px);
  width: 25.706px;
  height: 25.706px;
  background-color: rgba(0, 0, 0, 0);
  border: #C7C7C7;
  color: #000;
  padding: 1px 1px;
  border-radius: .2rem;
  transition: 0.15s;
}

.date-searchBar {
  position: absolute;
  transform: translate(183.5px, 0px);
  width: 50%;
  height: 27.05px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.date-searchBarInput-start {
  transform: translate(0px, 0px);
  width: 93.25px;
  height: 27.07px;
  position: absolute;
  border: 0.5px solid #C7C7C7;
  border-radius: .2rem 0rem 0rem .2rem;
  z-index: 1;
}
.date-searchBarInput-end {
  transform: translate(52.25px, 0px);
  width: 93.25px;
  height: 27.07px;
  position: absolute;
  border: 0.5px solid #C7C7C7;
  border-radius: 0rem 0rem 0rem 0rem;
  z-index: 1;
}

.date-searchBarSubmit {
  transform: translate(197.5px, 0px);
  height: 27.07px;
  width: 27.07px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  padding: 1px 1px;
  border-top: 0.5px solid #C7C7C7;
  border-right: 0.5px solid #C7C7C7;
  border-bottom: 0.5px solid #C7C7C7;
  border-left: 0px solid #C7C7C7;
  border-radius: 0rem .2rem .2rem 0rem;
  z-index: 0;
  transition: 0.15s;
}

.date-searchBarSubmit:hover {
  background-color: #6c757d;
  border-color: #6c757d;
  border-left: 0px;
  color: white;
}

@media (max-width: 485px) {
  .dropdownFilter {
    width: 50%;
  }
  .dropdownFilterButton {
    width: 50%;
  }

  .participation-dropdownFilter {
    width: 140.7px;
  }
  .participation-dropdownFilterButton {
    width: 140.7px;
  }

  .searchBarInput {
    width: 100%;
    transform: translate(-53.5px, 0px);
  }

  .searchBarSubmit {
    transform: translate(126.5px, 0px);
  }

  .date-searchBarInput-start {
    width: 90.75px;
    transform: translate(-53.5px, 0px);
  }
  .date-searchBarInput-end {
    width: 90.75px;
    transform: translate(37.25px, 0px);
  }

  .date-searchBarSubmit {
    transform: translate(126.5px, 0px);
  }

  .addButton {
    transform: translate(390.93px, 5px);
  }

  .date-addButton {
    transform: translate(390.93px, 5px);
  }
}

@media (max-width: 415px) {
  .dropdownFilter {
    width: 110.7px;
  }
  .dropdownFilterButton {
    width: 110.7px;
  }

  .participation-dropdownFilter {
    width: 120.7px;
  }
  .participation-dropdownFilterButton {
    width: 120.7px;
  }

  .participationType-dropdownFilterButton {
    transform: translate(127.5px, 0px);
    width: 117.7px;
  }

  .participation-searchButton-Icon {
    transform: translate(-0.5px, -0.1px);
  }

  .participation-searchBarInput {
    width: 100%;
    transform: translate(-60.5px, 0px);
  }

  .participation-searchBarSubmit {
    transform: translate(35.5px, 0px);
  }
  .participant-addButton {
    transform: translate(343px, 5px);
  }

  .searchBarInput {
    width: 170.5px;
    transform: translate(-68.5px, 0px);
  }

  .searchBarSubmit {
    transform: translate(75.5px, 0px);
  }

  .date-searchBarInput-start {
    width: 56.25px;
    transform: translate(-68.5px, 0px);
  }

  .date-searchBarInput-end {
    width: 56.25px;
    transform: translate(-52.75px, 0px);
  }

  .date-searchBarSubmit {
    transform: translate(55.5px, 0px);
  }

  .searchButton-Icon {
    transform: translate(-0.5px, -0.1px);
  }

  .date-searchButton-Icon {
    transform: translate(0.5px, -0.1px);
  }

  .emailButton {
    transform: translate(334.07px, 5px);
  }

  .addButton {
    transform: translate(302.5px, 5px);
  }

  .date-addButton {
    transform: translate(270px, 5px);
  }

  .totalButton {
    transform: translate(270px, 5px);
  }

  .totalButtonCash {
    transform: translate(321.07px, 5px);
  }
}